<!--The content below is only a placeholder and can be replaced.-->
<nav class="fixed">
    <div class="container">
      <div id="nav-display">
  
        <!-- A logo, that onClick, will show the list of products -->
        <img src="/assets/img/logo-01.png" id="nav-logo" />
  
        <div id="nav-title" style="text-align:center">
          <h2>Welcome to {{ title }}!</h2>
        </div>
      </div>
    </div>
  </nav>
  
  
  
  
  <!-- Section -->
  <section>
    <div class="container">
      <div class="row">
        <!-- Product List -->
        <div class="col">
          <div class="list-title">Product List</div>
          <div *ngIf="product.length !== 0">
            <div class="list" *ngFor="let item of product">
              <tr>
                <td id="img-col">
                  <tr>
                    <td><img src="{{ item.imgFile }}" /></td>
                  </tr>
                </td>
                <td id="item-col">
                  <tr>
                    <td id="item-title">Item#: </td>
                    <td id="item-content">{{ item.id }}</td>
                  </tr>
                  <tr>
                    <td id="item-title">Price: </td>
                    <td id="item-content">RM {{ item.price }}</td>
                  </tr>
                  <tr>
                    <td id="item-title">Item Description: </td>
                    <td id="item-content">{{ item.desc }}</td>
                  </tr>
                </td>
                <td id="action-col">
                  <tr>
                    <td>
                      <button>-</button>
                    </td>
                    <td>
                      <span><span id="item-title">Qty:</span>{{ item.qty }}</span>
                    </td>
                    <td>
                      <button>+</button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <span><span id="item-title">Subtotal:</span>RM {{ item.subtotal }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <span><button>Select</button></span>
                    </td>
                  </tr>
                </td>
              </tr>
            </div>
          </div>
        </div>
        <!-- MyCart List -->
        <div class="col">
          <div class="list-title">My Cart List</div>
          <div class="list" *ngFor="let item of product">
            <tr>
              <td id="img-col">
                <tr>
                  <td><img src="{{ item.imgFile }}" /></td>
                </tr>
              </td>
              <td id="item-col">
                <tr>
                  <td id="item-title">Item#: </td>
                  <td id="item-content">{{ item.id }}</td>
                </tr>
                <tr>
                  <td id="item-title">Price: </td>
                  <td id="item-content">RM {{ item.price }}</td>
                </tr>
                <tr>
                  <td id="item-title">Item Description: </td>
                  <td id="item-content">{{ item.desc }}</td>
                </tr>
              </td>
              <td id="action-col">
                <tr>
                  <td>
                    <span><span id="item-title">Qty:</span>{{ item.qty }}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span><span id="item-title">Subtotal:</span>RM {{ item.subtotal }}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span><button>Select</button></span>
                  </td>
                </tr>
              </td>
            </tr>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <footer class="fixed">
    <div class="container">
      <div id="footer-cart-actions">
        <span><button (click)="isShow=!isShow">Clear My Cart</button></span>
        <span><button *ngIf="isShow" (click)="onAddToCart()">Add To Cart</button></span>
      </div>
      <div id="footer-cart-summary">
        <div id="grand-total">Grand Total: RM 1234.56</div>
        <span><button (click)="onCheckOut()">Check Out</button></span>
      </div>
    </div>
  </footer>
  