@import url("https://fonts.googleapis.com/css?family=Abel");
@import url("https://fonts.googleapis.com/css?family=Advent Pro");

/* :host {
    font-family: Abel;
    display: flex;
    height: 90vh;
    align-items: center;
    background-color: red;
} */

.hidden {
    display: none;
}

button {
    background-color: rgba(91, 89, 96);
    border-radius: 12px;
    /* margin: 10px; */
    /* padding: 10px; */
    border-style: outset;
    border-color: rgb(140, 128, 124);
    text-align: center;
    font-family: Abel;
    font-weight: bold;
    white-space: nowrap;
    color: rgba(249, 228, 224);
    outline: none;
    cursor: pointer;
}

span {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

/* table {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    border-style: dotted;
    border-color: pink;
} */

.list-title {
    background-color: rgba(165, 117, 116);
    width: 100%;
    height: 50px;
    /* border-style: inset; */
    /* padding:0 10px; */
    font-family: Abel;
    font-size: xx-large;
    white-space: nowrap;
    color: rgba(249, 228, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 80px;
    /* transform: rotate(90deg); */
}

ul {
    width: 500px;
    list-style-type: none;
    padding: 5px 0;
    border-style: outset;
    border-color: whitesmoke;
    box-shadow: 6px 9px 10px lightslate;
}

li{
    display: flex;
}

.fixed {
    position: fixed;
  }

.container {
    /* height: 100%; */
    /* max-width: 80%; */
    width: 1200px;
    margin: auto;
    /* display: flex;
    flex-direction: row;
    
    justify-content: space-evenly; */
    /* align-items: center; */
}

nav {
    background-color: rgba(104, 76, 76);
    width: 100%;
    height: 80px;
    top:0;
    left: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    z-index: 50;
}

#nav-display {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-evenly;
}

/* A logo, that onClick, will show the list of products */
#nav-logo {
    border-color: grey;
    margin: 10px;
    height: 60px;
    width: 60px;
    outline: none;
    background: url('/assets/img/logo-02.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 60px;
}

#nav-title {
    color: rgba(47, 22, 35);
    font-family: Advent Pro;
    font-size: large;
    white-space: nowrap;
}

footer {
    background-color: rgba(47, 22, 35);
    width: 100%;
    height: 80px;
    bottom:0;
    left: 0;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-evenly;
    z-index: 45;
}

#footer-cart-actions {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    float: left;
}

#footer-cart-summary {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    float: right;
}

section {
    position: relative;
    margin: 80px 0;
}

.row {
    /* background-color: red; */
    /* margin: 0 25px ;
    border-style: solid;
    border-color: azure; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.col {
    background-color: rgba(165, 117, 116, 0.5);
    width: 50%;
    border-style: groove;
    border-color: rgba(249, 228, 224);
    /* height: 100%;
    display: flex;
    flex-direction: column; */

}

.col-left {
    float: left;
}

.col-right {
    float: right;
}

.list {
    background-color: rgba(140, 128, 124, 0.7);
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    border-style: outset;
    border-color: rgba(140, 128, 124, 0.9);
    box-shadow: 3px 3px 6px  rgba(66, 64, 64, 0.7);
    display: flex;
    justify-content: center;
    font-family: Abel;
    font-size: small;
}

#item-title {
    white-space: nowrap;
    font-weight: bold;
}

#item-content {
    width: 175px;
}

td {
    table-layout: fixed;
    /* margin: 0 5px; */
    padding: 3px;
    vertical-align: top;
    text-align: justify;
    white-space: normal;
    /* border-style: solid; */
}

/* td img {
    border-style: solid;
    border-color: black
} */

#img-col {
    width: 100px;
    padding: 0px;
}

#item-col {
    width:285px;
}

#action-col {
    width: 140px;
    display: inline-table;
}

#grand-total {
    font-family: Abel;
    font-weight: bolder;
    white-space: nowrap;
    color: rgba(249, 228, 224);
}

#img-col td {
    border-style: inset;
    border-color: rgba(206, 200, 195, 0.8);
}

#item-col td {
    border-style: outset;
    border-color: rgba(206, 200, 195, 0.8);
}

#action-col td {
    border-style: outset;
    border-color: rgba(206, 200, 195, 0.8);
}